<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6Fc8V8E77T5AliLFoAI-12ISV78F0LJk</string>
	<key>GCM_SENDER_ID</key>
	<string>829287823878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aminAgent</string>
	<key>PROJECT_ID</key>
	<string>mpo-flutter-514b5</string>
	<key>STORAGE_BUCKET</key>
	<string>mpo-flutter-514b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829287823878:ios:b28d52c23c9856d2dca187</string>
</dict>
</plist>